<p-tabView>
  <p-tabPanel header="readme">
    <h1>Count Down (Set Clock)</h1>
    <p>
      The Count Down app consists of two components:
    </p>
    <ol>
      <li><strong>SetClockComponent</strong></li>
      <li>CountDownComponent</li>
    </ol>
    <p>
      This is the SetClockComponent which allows you to set the hours and minutes to count down from.
    </p>
  </p-tabPanel>
    <p-tabPanel header="set-clock.component.ts">
      <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="set-clock.component.html">
      <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="set-clock.component.css">
      <pre><code class="prettyprint">{{ cssSource }}</code></pre>
    </p-tabPanel>
</p-tabView>