<p-tabView>
    <p-tabPanel header="readme">
      <h1>Style Binding</h1>
      <p>
        Demonstrates simple style binding and the ngStyle attribute directive.
        Use style binding to set a single style and ngStyle to set multiple styles.
      </p>
    </p-tabPanel>
    <p-tabPanel header="style-binding.component.ts">
      <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="style-binding.component.html">
      <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
    </p-tabPanel>
  </p-tabView>