<p-tabView>
  <p-tabPanel header="readme">
    <h1>Hello World Basic</h1>
    <p>
      This source shows you the minimum code needed to get the 'Hello World' message up and running.
      It basically consists of a single component file with an embedded html template and no styling.
      Normally not a good idea but ideal for demonstrations like this.
    </p>
  </p-tabPanel>
  <p-tabPanel header="hello-world-basic.component.ts">
    <pre><code class="prettyprint">{{ componentSource }}</code></pre>
  </p-tabPanel>
</p-tabView>