<p-tabView>
  <p-tabPanel header="readme">
    <h1>Basic Form using Primefaces (Template Driven)</h1>
    <p>
      This component shows a form with different Primefaces input elements.
      Naturally there is some configuration needed to use Primefaces.
      You can reed about it here: <a href="http://cschotanus/knowledge/ict/software/development/angular/primeng/setup.php">here</a>.
    </p>

    <h2>Differences between this form and the basic form</h2>
    <p>
      This form is responsive and looks way better.
      Validation at field level, works out-of-the-box.
      This form need to create an array of programming languages, instead of being able to use option elements.
    </p>  
  </p-tabPanel>
  <p-tabPanel header="form-template-basic-primefaces.component.ts">
    <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="form-template-basic-primefaces-component.html">
    <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
  </p-tabPanel>
</p-tabView>