<p-tabView>
  <p-tabPanel header="readme">
    <h1>Hello World Angular Style</h1>
    <p>
      Compared to the basic example, this example adds:
    </p>
    <ul>
      <li>An HTML template</li>
      <li>Some css styling</li>
      <li>Two-way data binding so you can immediately see the result of your typing</li>
    </ul>
  </p-tabPanel>
  <p-tabPanel header="hello-world-angular.component.ts">
    <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="hello-world-angular.component.html">
    <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="hello-world-angular.component.css">
    <pre><code class="prettyprint">{{ cssSource }}</code></pre>
  </p-tabPanel>
</p-tabView>