<p-tabView>
  <p-tabPanel header="readme">
    <h1>Class Binding</h1>
    <p>
      Demonstrates simple class binding and the ngClass attribute directive. Use class binding to add/remove a single class and
      use ngClass to add/remove multiple classes at once.
    </p>
  </p-tabPanel>
  <p-tabPanel header="class-binding.component.ts">
    <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="class-binding.component.html">
    <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="class-binding.component.css">
    <pre><code class="prettyprint linenums">{{ cssSource }}</code></pre>
  </p-tabPanel>
</p-tabView>