<p-tabView>
  <p-tabPanel header="readme">
    <h1>Roman Pipe</h1>
    <p>
      The Roman Pipe converts Latin numbers to Roman numbers.
    </p>
    <p>
      Usage: numeric-expression | roman
    </p>
  </p-tabPanel>
  <p-tabPanel header="roman.component.ts">
    <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="roman.component.html">
      <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="roman.pipe.ts">
    <pre><code class="prettyprint linenums">{{ pipeSource }}</code></pre>
  </p-tabPanel>
  <p-tabPanel header="roman.ts">
    <pre><code class="prettyprint linenums">{{ classSource }}</code></pre>
  </p-tabPanel>
</p-tabView>