<p-tabView>
  <p-tabPanel header="readme">
    <h1>Count Down</h1>
    <p>
      The Count Down app consists of two components:
    </p>
    <ol>
      <li>SetClockComponent</li>
      <li><strong>CountDownComponent</strong></li>
    </ol>
    <p>
      This is the CountDownComponent that performs the actual count down.
    </p>
  </p-tabPanel>
    <p-tabPanel header="count-down.component.ts">
      <pre><code class="prettyprint linenums">{{ componentSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="count-down.component.html">
      <pre><code class="prettyprint linenums">{{ htmlSource }}</code></pre>
    </p-tabPanel>
    <p-tabPanel header="count-down.component.css">
      <pre><code class="prettyprint">{{ cssSource }}</code></pre>
    </p-tabPanel>
</p-tabView>