<form (ngSubmit)="onSubmitForm(theForm)" #theForm="ngForm">
  <div><label for="username">Name</label></div>
  <div>
    <input id="username" name="username" ngModel required type="text" #name="ngModel">
  </div>
  <div [hidden]="name.valid || name.pristine" class="input-error-message">
    Name is required
  </div>
  <div><label for="password">Password</label></div>
  <div>
    <input id="password" name="password" ngModel type="password">
  </div>

  <div><label for="email">e-mail</label></div>
  <div>
    <input email id="email" name="email" ngModel type="email" #emailInput="ngModel">
  </div>
  <div class="input-error-message" *ngIf="emailInput.invalid && emailInput.touched">
    Please enter a valid email address.
  </div>
  <div><label for="dob">Date of birth</label></div>
  <div>
    <input date id="dob" name="dob" ngModel type="date">
  </div>

  <div><label for="newsLetter">Subscribe to newsletter</label></div>
  <div>
    <input id="newsLetter" name="newsLetter" ngModel type="checkbox">
  </div>

  <div><label for="programmingLanguage">Programming language</label></div>
  <div>
    <select id="programmingLanguage" name="programmingLanguage" [ngModel]="'java'">
      <option value="java">Java</option>
      <option value="python">Python</option>
    </select>
  </div>

  <div><label for="dominantHand">Dominant hand</label></div>
  <div>
    <input id="programmingLanguageL" name="dominantHand" ngModel type="radio" value="left">Left
    <input id="programmingLanguageR" name="dominantHand" ngModel type="radio" value="right">Right
  </div>

  <div>
    <button [disabled]="!theForm.valid" type="submit">Submit</button>
  </div>
</form>
